<%= link_to 'Voltar', root_path %>
<%= link_to 'Registrar uma categoria de produto', new_product_category_path %>

<% if @product_categories.empty? %>
    <h3>Nenhuma categoria de produto cadastrada</h3>
<% end %>

<% @product_categories.each do |product_category| %>
    <h3><%= link_to product_category.name, product_category %></h3>
    <dl>
        <dt>Nome</dt>
        <dd><%= product_category.name %></dd>
        <dt>Código</dt>
        <dd><%= product_category.code %></dd>
    </dl>
<% end %>
