<%= link_to 'Voltar', product_categories_path %>

<h3>Lista de categorias de produtos</h3>
<ul>
    <li>Código - <%= @product_category.code %> 
        : <%= @product_category.name %>
    </li>
</ul>

<%= link_to 'Editar categoria de produto', edit_product_category_path(@product_category) %>
<%= link_to 'Excluir categoria de produto', product_category_path(@product_category), 
                                            method: :delete, confirm: 'Tem certeza?' %>

