<%= link_to t('buttons.back'), product_categories_path %>
<%= link_to t('buttons.edit'), edit_product_category_path(@product_category) %>
<%= link_to t('buttons.destroy'), product_category_path(@product_category), 
                                            method: :delete, data: { confirm: t('.destroy_confirm') } %>

<h3>Lista de categorias de produtos</h3>
<ul>
    <li><%= ProductCategory.human_attribute_name(:name)%> - 
        <%= @product_category.code %> 
        : <%= @product_category.name %>
    </li>
</ul>