<!DOCTYPE html>
<html>
  <head>
    <title>PromotionSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
      <%= link_to 'Sair', '#' %>
        <%= current_user.email %>
        <li><%= link_to 'Promoções', promotions_path %></li>
      <% else %>
        <%= link_to 'Cadastrar', new_user_registration_path %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>      
    </nav>

    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <%= yield %>
  </body>
</html>
